footer.footer.section
  .container
    div
      include ../modules/_logo

    .footer__bottom-bar
      p.copyright
        small Copyright &copy; 2019 Colognifornia. All rights reserved.

      include ../modules/_legal-nav
