footer.footer.section
  .container
    div.section__header
      include ../modules/_logo

    .footer__bottom-bar
      p.copyright
        small Copyright &copy; 2019 <a href="/">Colognifornia</a>. All rights reserved.

      include ../modules/_legal-nav
