section.section.hero-section
  .container
    include ../partials/_header

    .card.section__content
      h2.h2.card__heading Empowering people with the help of technology.

    include ../modules/_scroll-down
