<div class="scroll-down">
    <p>Scroll down</p>
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>
