<div class="scroll-down">
    <p>{{ __('other.scroll') }}</p>
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>
