{% extends 'templates/_default.twig' %}

{% block title %}Legal Notice{% endblock %}

{% block content %}
    <section class="section hero-section">
        <div class="container">
            {% include 'partials/_header.twig' %}

            <div class="card section__content">
                <h2 class="h2 card__heading">Legal Notice</h2>

                <p class="card__text">Here you can find legal as well as contact information required by law.</p>
            </div>

            {% include 'partials/_scroll-down.twig' %}
        </div>
    </section>

    <section class="section page-content-section">
        <div class="container">
            <div class="card card--full-width">
                <h3 class="h3 card__heading">Information pursuant to ยง 5 TMG</h3>

                <p class="card__text">
                    Jasper Raddatz<br>
                    Colognifornia (individual company)<br>
                    Salzburger Weg 47<br>
                    Cologne, 50858<br>Germany
                </p>

                <h4 class="h4 card__heading">Contact</h4>

                <p class="card__text">
                    <i class="icon fas fa-envelope"></i>
                    Email: <a href="mailto:hello@colognifornia.com">hello@colognifornia.com</a>
                </p>

                <p class="card__text">
                    <i class="icon fas fa-phone"></i>
                    Phone: <a href="tel:+4915738408326">+49 (0) 1573 84 08 326</a> *
                </p>

                <p class="card__text">
                    <i class="fas fa-desktop"></i>
                    Web: <a href="/">https://colognifornia.com</a>
                </p>

                <p class="card__text">
                    <i class="icon fab fa-twitter"></i>
                    Twitter: <a href="https://twitter.com/colognifornia" target="_blank" rel="noopener">@colognifornia</a>
                </p>

                <p class="card__text">
                    <i class="icon fab fa-github"></i>
                    GitHub: <a href="https://github.com/colognifornia" target="_blank" rel="noopener">@colognifornia</a>
                </p>

                <p class="card__text">
                    <strong>* Please use only after prior request and arrangement via email.</strong>
                </p>

                <h4 class="h4 card__heading">VAT ID</h4>

                <p class="card__text">
                    Sales tax identification number according to ยง 27 a of the Sales Tax Law:<br>DE325678142
                </p>

                <h4 class="h4 card__heading">Responsible for the content according to ยง 55(2) RStV</h4>

                <p class="card__text">
                    Jasper Raddatz<br>
                    Salzburger Weg 47<br>
                    Cologne, 50858<br>Germany
                </p>

                <h3 class="h3 card__heading">EU dispute resolution</h3>

                <p class="card__text">
                    The European Commission provides a platform for online dispute resolution (ODR):<br>
                    <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr</a>.
                </p>

                <p class="card__text">Our email address can be found above in the legal notice.</p>

                <p class="card__text">
                    We participate in a dispute settlement procedure before a consumer arbitration board.
                    The competent consumer arbitration board is:
                </p>

                <p class="card__text">
                    Anwaltliche Verbraucherschlichtungsstelle NRW e. V. (Lawyers' Consumer Conciliation Board NRW)<br>
                    Reichenspergerplatz 1<br>
                    Cologne, 50670<br>Germany
                </p>

                <p class="card__text">
                    Phone: +49 (0)221 28 56 020<br>
                    Fax: +49 (0)221 44 14 57<br>
                    Email: <a href="mailto:info@verbraucherschlichtung-nrw.de">info@verbraucherschlichtung-nrw.de</a><br>
                    Website: <a href="https://www.verbraucherschlichtung-nrw.de" target="_blank" rel="noopener">https://www.verbraucherschlichtung-nrw.de</a>
                </p>

                <p class="card__text">
                    A list with the contact details of other recognized dispute resolution bodies can be found at

                    <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.adr.show" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr/<wbr>main/index.cfm?event=main.adr.show</a>.
                </p>

                <h3 class="h3 card__heading">Disclaimer of liability</h3>

                <h4 class="h4 card__heading">Liability for Contents</h4>

                <p class="card__text">
                    As service providers, we are liable for own contents of these websites according to Paragraph 7, Sect. 1
                    German Telemedia Act (TMG). However, according to Paragraphs 8 to 10 German Telemedia Act (TMG),
                    service providers are not obligated to permanently monitor submitted or stored information or to search for
                    evidences that indicate illegal activities.
                </p>

                <p class="card__text">
                    Legal obligations to removing information or to blocking the use of information remain unchallenged. In this
                    case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will
                    be removed immediately at the time we get knowledge of them.
                </p>

                <h4 class="h4 card__heading">Liability for Links</h4>

                <p class="card__text">
                    Our offer includes links to external third party websites. We have no influence on the contents of those
                    websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites
                    are always responsible for their own contents.
                </p>

                <p class="card__text">
                    The linked websites had been checked for possible violations of law at the time of the establishment of the
                    link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of
                    linked websites cannot be imposed without reasonable indications that there has been a violation of law.
                    Illegal links will be removed immediately at the time we get knowledge of them.
                </p>

                <h4 class="h4 card__heading">Copyright</h4>

                <p class="card__text">
                    Contents and compilations published on these websites by the providers are subject to German copyright
                    laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law
                    require a written permission of the author or originator. Downloads and copies of these websites are
                    permitted for private use only.<br>
                    The commercial use of our contents without permission of the originator is prohibited.
                </p>

                <p class="card__text">
                    Copyright laws of third parties are respected as long as the contents on these websites do not originate from
                    the provider. Contributions of third parties on this site are indicated as such. However, if you notice any
                    violations of copyright law, please inform us. Such contents will be removed immediately.
                </p>

                <p>
                    <small>
                        Source: <a href="https://e-recht24.de" target="_blank" rel="noopener">e-recht24.de</a>
                        (edited and supplemented)
                    </small>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
