extends templates/_default

block content
  include partials/_hero-section

  section.section
    .container
      h3.h3.section__header Who we are

      .card.section__content
        p.h4.card__heading
          strong We are a small company based in Cologne, Germany, focusing on web development and design.
        a(href="#").btn.card__btn Learn more

  section.section
    .container
      h3.h3.section__header What we do

      .card.card--large.section__content
        p.h4.card__heading.card__text
          strong Doing web development and design for customers wanting to benefit from the digital market by starting or enhancing their digital business.

        p.h4.card__heading.card__text
          strong Helping people to inform themselves, learn and grow.

        p.h4.card__heading.card__text
          strong Contributing to Open Source in order to drive helpful technology forward.

        a(href="#").btn.card__btn Learn more

  section.section
    .container
      h3.h3.section__header Contact us

      .card.section__content
        p.h4.card__heading
          strong
            <i class="icon fas fa-envelope"></i> <a href="mailto:hello@colognifornia.com">hello@colognifornia.com</a>

        p.h4.card__heading
          strong <i class="icon fab fa-twitter"></i> <a href="https://twitter.com/colognifornia" target="_blank" rel="noopener">@colognifornia</a>

        a(href="#").btn.card__btn Learn more
