.wrapper
  display: flex
  min-height: 100%
  flex-direction: column

.container
  display: flex
  max-width: $site-width
  width: 100%
  margin: 0 auto
  flex-direction: column

  @media screen and (max-width: 1600px)
    max-width: $site-width--small

.h1, .h2, .h3, .h4, .h5, .h6, a
  word-wrap: break-word
  word-break: break-word
  hyphens: auto

.h1, .h2, .h3, .h4, .h5, .h6
  text-shadow: $text-shadow

.h1, .h2
  font-weight: $main-font--light

.h1
  font-size: 4.8rem
  letter-spacing: -1.5px

.h2
  font-size: 3rem
  letter-spacing: -0.5px

.h3, .h4, .h5
  font-weight: $main-font--regular

.h3
  font:
    size: 2.4rem
  letter-spacing: 0

.h4
  font:
    size: 1.7rem
  letter-spacing: 0.25px

.h5
  font:
    size: 1.2rem
  letter-spacing: 0

.h6
  font:
    size: 1rem
    weight: $main-font--medium
  letter-spacing: 0.15px

.content-flow > *:not(.card__text, .card__heading)
  margin-bottom: $spacer * 2

  &:is(h2, h3, h4, h5, h6)
    margin-bottom: $spacer

.icon
  @media screen and (max-width: 600px)
    display: block

a
  color: $red

.contact-link
  color: inherit
