.blockquote
    padding: $spacer
    border-left: ($spacer / 4) solid $red
    box-shadow: $shadow
    border-radius: $spacer / 4

.blockquote__source
    display: block
    margin-top: $spacer / 2
    text-align: right
