extends ../templates/_legal

block content
  section.section.hero-section
    .container
      include ../partials/_header

      .card.section__content
        h2.h2.card__heading Privacy Policy
        p.card__text
          | Here's what we do to ensure your personal data is processed securely as well as in compliance with data protection regulations.
        p.card__text
          | As you might expect from a company based in the European Union / Germany, we take your privacy and the protection of your data very seriously.
        p.card__text
          | In case of any questions or issues you might encounter regarding your data,
          | feel free to reach out to us at <a href="mailto:privacy@colognifornia.com">privacy@colognifornia.com</a>.

      include ../modules/_scroll-down

  section.section.page-content-section
    .container
      .card.card--full-width
        h3.h3.card__heading 1. An overview of data protection
        h4.h4.card__heading General information
        p.card__text
          | The following information will provide you with an easy to navigate overview of what will happen with your
          | personal data when you visit this website. The term "personal data" comprises all data that can be used to
          | personally identify you. For detailed information about the subject matter of data protection, please consult
          | our Data Protection Declaration, which we have included beneath this copy.

        h4.h4.card__heading Data recording on this website
        h5.h5.card__heading Who is the responsible party for the recording of data on this website (i.e. the "controller")?
        p.card__text
          | The data on this website is processed by the operator of the website, whose contact information is available
          | under section "<a href="/legal/legal-notice.html">Legal Notice</a>" on this website.

        h5.h5.card__heading How do we record your data?
        p.card__text
          | We collect your data as a result of your sharing of your data with us. This may, for instance be information
          | you include in an email you send us.
        p.card__text
          | Our IT systems automatically record other data when you visit our website. This data comprises primarily
          | technical information (e.g. web browser, operating system or time the site was accessed). This information is
          | recorded automatically when you access this website.

        h5.h5.card__heading What are the purposes we use your data for?
        p.card__text
          | A portion of the information is generated to guarantee the error free provision of the website. Other data
          | may be used to analyse your user patterns.

        h5.h5.card__heading What rights do you have as far as your information is concerned?
        p.card__text
          | You have the right to receive information about the source, recipients and purposes of your archived
          | personal data at any time without having to pay a fee for such disclosures. You also have the right to demand
          | that your data are rectified or eradicated. Please do not hesitate to contact us at any time under the address
          | disclosed in section "<a href="/legal/legal-notice.html">Legal Notice</a>" on this website if you have questions about this or any
          | other data protection related issues. You also have the right to log a complaint with the competent
          | supervising agency.
        p.card__text
          | Moreover, under certain circumstances, you have the right to demand the restriction of the processing of
          | your personal data. For details, please consult the Data Protection Declaration under section "Right to
          | Restriction of Data Processing."

        h4.h4.card__heading Analysis tools and tools provided by third parties
        p.card__text
          | There is a possibility that your browsing patterns will be statistically analysed when you visit this website.
          | Such analyses are performed primarily with cookies and with what we refer to as analysis programmes. As a
          | rule, the analyses of your browsing patterns are conducted anonymously; i.e. the browsing patterns cannot
          | be traced back to you.
        p.card__text
          | You have the option to object to such analyses or you can prevent their performance by not using certain
          | tools. For detailed information about the tools and about your options to object, please consult our Data
          | Protection Declaration below.

        h3.h3.card__heading 2. Hosting
        h4.h4.card__heading External Hosting
        p.card__text
          | This website is hosted by an external service provider (host). Personal data collected on this website are
          | stored on the servers of the host. These may include, but are not limited to, IP addresses, contact requests,
          | metadata and communications, contract information, contact information, names, web page access, and
          | other data generated through a web site.
        p.card__text
          | The host is used for the purpose of fulfilling the contract with our potential and existing customers (Art. 6
          | para. 1 lit. b GDPR) and in the interest of secure, fast and efficient provision of our online services by a
          | professional provider (Art. 6 para. 1 lit. f GDPR).
        p.card__text
          | Our host will only process your data to the extent necessary to fulfil its performance obligations and to
          | follow our instructions with respect to such data.

        h5.h5.card__heading Execution of a contract data processing agreement
        p.card__text
          | In order to guarantee processing in compliance with data protection regulations, we have concluded an
          | order processing contract with our host.

        h5.h5.card__heading Execution of EU Model Contract Clauses
        p.card__text
          | We have concluded so-called EU Model Contract Clauses with our host
          | in order to adduce adequate safeguards with respect to the protection of privacy and fundamental rights and freedoms of individuals, as stated in the contract,
          | when processing data according to this Data Protection Declaration.<br>
          | These are Standard Contractual Clauses (processors)
          | for the purposes of Article 26(2) of Directive 95/46/EC for the transfer of personal data
          | to processors established in third countries which do not ensure an adequate level of data protection.

        h5.h5.card__heading Transparency disclosure
        p.card__text
          | For the purpose of transparency, we provide you with the following information
          | about our host and the concluded order processing contract as well as the EU Model Contract Clauses:
        p.card__text
          | Colognifornia employs products and services from Google Cloud Platform (GCP) for hosting this website.
        p.card__text
          | The order processor as stated in the concluded order processing contract is:<br>
          | Google LLC (formerly known as Google Inc.), Google Ireland Limited, Google Asia Pacific Pte. Ltd.,
          | or any other entity that directly or indirectly controls, is controlled by, or is under common control with Google LLC (as applicable, "Google").
        p.card__text
          | The concluded order processing contract can be found at:<br>
          | <a href="https://cloud.google.com/terms/data-processing-terms" target="_blank" rel="noopener">https://cloud.google.com/terms/data-processing-terms</a>.
        p.card__text
          | The party which has agreed on the EU Model Contract Clauses with us is, as stated in the contract:<br>
          | Google LLC (formerly known as Google Inc.),
          | 1600 Amphitheatre Parkway, Mountain View, California 94043 USA.
        p.card__text
          | The concluded EU Model Contract Clauses can be found at:<br>
          | <a href="https://cloud.google.com/terms/eu-model-contract-clause" target="_blank" rel="noopener">https://cloud.google.com/terms/eu-model-contract-clause</a>.

        h3.h3.card__heading 3. General information and mandatory information
        h4.h4.card__heading Data protection
        p.card__text
          | The operators of this website and its pages take the protection of your personal data very seriously. Hence,
          | we handle your personal data as confidential information and in compliance with the statutory data
          | protection regulations and this Data Protection Declaration.
        p.card__text
          | Whenever you use this website, a variety of personal information will be collected. Personal data comprises
          | data that can be used to personally identify you. This Data Protection Declaration explains which data we
          | collect as well as the purposes we use this data for. It also explains how, and for which purpose the
          | information is collected.
        p.card__text
          | We herewith advise you that the transmission of data via the Internet (i.e. through e-mail communications)
          | may be prone to security gaps. It is not possible to completely protect data against third party access.

        h4.h4.card__heading Information about the responsible party (referred to as the "controller" in the GDPR)
        p.card__text The data processing controller on this website is:
        p.card__text
          | Jasper Raddatz<br>
          | Colognifornia<br>
          | Salzburger Weg 47<br>
          | Cologne, 50858<br>
          | Germany
        p.card__text
          | Phone: <a href="tel:+4915738408326">+49 (0) 1573 84 08 326</a><br>
          | Email: <a href="mailto:privacy@colognifornia.com">privacy@colognifornia.com</a>
        p.card__text
          | The controller is the natural person or legal entity that single-handedly or jointly with others makes
          | decisions as to the purposes of and resources for the processing of personal data (e.g. names, e-mail
          | addresses, etc.).

        h4.h4.card__heading Revocation of your consent to the processing of data
        p.card__text
          | A wide range of data processing transactions are possible only subject to your express consent. You can also
          | revoke at any time any consent you have already given us. To do so, all you are required to do is to send us an
          | informal notification via e-mail. This shall be without prejudice to the lawfulness of any data collection that
          | occurred prior to your revocation.

        h4.h4.card__heading Right to object to the collection of data in special cases; right to object to direct advertising (Art. 21 GDPR)
        p.card__text
          | IN THE EVENT THAT DATA ARE PROCESSED ON THE BASIS OF ART. 6 SECT. 1 LIT. E OR F GDPR, YOU
          | HAVE THE RIGHT TO AT ANY TIME OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA BASED
          | ON GROUNDS ARISING FROM YOUR UNIQUE SITUATION. THIS ALSO APPLIES TO ANY PROFILING
          | BASED ON THESE PROVISIONS. TO DETERMINE THE LEGAL BASIS, ON WHICH ANY PROCESSING OF
          | DATA IS BASED, PLEASE CONSULT THIS DATA PROTECTION DECLARATION. IF YOU LOG AN
          | OBJECTION, WE WILL NO LONGER PROCESS YOUR AFFECTED PERSONAL DATA, UNLESS WE ARE IN
          | A POSITION TO PRESENT COMPELLING PROTECTION WORTHY GROUNDS FOR THE PROCESSING OF
          | YOUR DATA, THAT OUTWEIGH YOUR INTERESTS, RIGHTS AND FREEDOMS OR IF THE PURPOSE OF
          | THE PROCESSING IS THE CLAIMING, EXERCISING OR DEFENCE OF LEGAL ENTITLEMENTS
          | (OBJECTION PURSUANT TO ART. 21 SECT. 1 GDPR).
        p.card__text
          | IF YOUR PERSONAL DATA IS BEING PROCESSED IN ORDER TO ENGAGE IN DIRECT ADVERTISING,
          | YOU HAVE THE RIGHT TO AT ANY TIME OBJECT TO THE PROCESSING OF YOUR AFFECTED
          | PERSONAL DATA FOR THE PURPOSES OF SUCH ADVERTISING. THIS ALSO APPLIES TO PROFILING TO
          | THE EXTENT THAT IT IS AFFILIATED WITH SUCH DIRECT ADVERTISING. IF YOU OBJECT, YOUR
          | PERSONAL DATA WILL SUBSEQUENTLY NO LONGER BE USED FOR DIRECT ADVERTISING PURPOSES
          | (OBJECTION PURSUANT TO ART. 21 SECT. 2 GDPR).

        h4.h4.card__heading Right to log a complaint with the competent supervisory agency
        p.card__text
          | In the event of violations of the GDPR, data subjects are entitled to log a complaint with a supervisory
          | agency, in particular in the member state where they usually maintain their domicile, place of work or at the
          | place where the alleged violation occurred. The right to log a complaint is in effect regardless of any other
          | administrative or court proceedings available as legal recourses.

        h4.h4.card__heading Right to data portability
        p.card__text
          | You have the right to demand that we hand over any data we automatically process on the basis of your
          | consent or in order to fulfil a contract be handed over to you or a third party in a commonly used, machine
          | readable format. If you should demand the direct transfer of the data to another controller, this will be done
          | only if it is technically feasible.

        h4.h4.card__heading SSL and/or TLS encryption
        p.card__text
          | For security reasons and to protect the transmission of confidential content, such as purchase orders or
          | inquiries you submit to us as the website operator, this website uses either an SSL or a TLS encryption
          | programme. You can recognise an encrypted connection by checking whether the address line of the
          | browser switches from „http://“ to „https://“ and also by the appearance of the lock icon in the browser line.
        p.card__text
          | If the SSL or TLS encryption is activated, data you transmit to us cannot be read by third parties.

        h4.h4.card__heading Information about, rectification and eradication of data
        p.card__text
          | Within the scope of the applicable statutory provisions, you have the right to at any time demand
          | information about your archived personal data, their source and recipients as well as the purpose of the
          | processing of your data. You may also have a right to have your data rectified or eradicated. If you have
          | questions about this subject matter or any other questions about personal data, please do not hesitate to
          | contact us at any time at the address provided in section "<a href="/legal/legal-notice.html">Legal Notice</a>".

        h4.h4.card__heading Right to demand processing restrictions
        p.card__text
          | You have the right to demand the imposition of restrictions as far as the processing of your personal data is
          | concerned. To do so, you may contact us at any time at the address provided in section "<a href="/legal/legal-notice.html">Legal Notice</a>".
          | The right to demand restriction of processing applies in the following cases:
        ul.card__list
          li
            | In the event that you should dispute the correctness of your data archived by us, we will usually need
            | some time to verify this claim. During the time that this investigation is ongoing, you have the right to
            | demand that we restrict the processing of your personal data.
          li
            | If the processing of your personal data was/is conducted in an unlawful manner, you have the option to
            | demand the restriction of the processing of your data in lieu of demanding the eradication of this data.
          li
            | If we do not need your personal data any longer and you need it to exercise, defend or claim legal
            | entitlements, you have the right to demand the restriction of the processing of your personal data instead
            | of its eradication.
          li
            | If you have raised an objection pursuant to Art. 21 Sect. 1 GDPR, your rights and our rights will have to be
            | weighed against each other. As long as it has not been determined whose interests prevail, you have the
            | right to demand a restriction of the processing of your personal data.
        p.card__text
          | If you have restricted the processing of your personal data, these data – with the exception of their archiving –
          | may be processed only subject to your consent or to claim, exercise or defend legal entitlements or to
          | protect the rights of other natural persons or legal entities or for important public interest reasons cited by
          | the European Union or a member state of the EU.

        h4.h4.card__heading Rejection of unsolicited e-mails
        p.card__text
          | We herewith object to the use of contact information published in conjunction with the mandatory
          | information to be provided in section "<a href="/legal/legal-notice.html">Legal Notice</a>" to send us promotional and information
          | material that we have not expressly requested. The operators of this website and its pages reserve the
          | express right to take legal action in the event of the unsolicited sending of promotional information, for
          | instance via SPAM messages.

        h3.h3.card__heading 4. Recording of data on this website
        h4.h4.card__heading Cookies
        p.card__text
          | In some instances, our website and its pages use so-called cookies. Cookies do not cause any damage to your
          | computer and do not contain viruses. The purpose of cookies is to make our website more user friendly,
          | effective and more secure. Cookies are small text files that are placed on your computer and stored by your
          | browser.
        p.card__text
          | Most of the cookies we use are so-called "session cookies". They are automatically deleted after your leave
          | our site. Other cookies will remain archived on your device until you delete them. These cookies enable us to
          | recognise your browser the next time you visit our website.
        p.card__text
          | You can adjust the settings of your browser to make sure that you are notified every time cookies are placed
          | and to enable you to accept cookies only in specific cases or to exclude the acceptance of cookies for specific
          | situations or in general and to activate the automatic deletion of cookies when you close your browser. If you
          | deactivate cookies, the functions of this website may be limited.
        p.card__text
          | Cookies that are required for the performance of the electronic communications transaction or to provide
          | certain functions you want to use (e.g. the shopping cart function), are stored on the basis of Art. 6 Sect. 1 lit.
          | f GDPR. The website operator has a legitimate interest in storing cookies to ensure the technically error free
          | and optimised provision of the operator's services. If a corresponding agreement has been requested (e.g. an
          | agreement to the storage of cookies), the processing takes place exclusively on the basis of Art. 6 para. 1 lit. a
          | GDPR; the agreement can be revoked at any time.
        p.card__text
          | If other cookies (e.g. cookies for the analysis of your browsing patterns) should be stored, they are addressed
          | separately in this Data Protection Declaration.

        h4.h4.card__heading Server log files
        p.card__text
          | The provider of this website and its pages automatically collects and stores information in so-called server
          | log files, which your browser communicates to us automatically. The information comprises:
        ul.card__list
          li The type and version of browser used
          li The used operating system
          li Referrer URL
          li The hostname of the accessing computer
          li The time of the server inquiry
          li The IP address
        p.card__text
          | This data is not merged with other data sources.
        p.card__text
          | This data is recorded on the basis of Art. 6 Sect. 1 lit. f GDPR. The operator of the website has a legitimate
          | interest in the technically error free depiction and the optimization of the operator's website. In order to
          | achieve this, server log files must be recorded.

        h4.h4.card__heading Request by e-mail or telephone
        p.card__text
          | If you contact us by e-mail or telephone, your request, including all resulting personal data (name,
          | request) will be stored and processed by us for the purpose of processing your request. We do not pass these
          | data on without your consent.
        p.card__text
          | The processing of these data is based on Art. 6 para. 1 lit. b GDPR, if your request is related to the execution
          | of a contract or if it is necessary to carry out pre-contractual measures. In all other cases, the processing is
          | based on your consent (Article 6 (1) a GDPR) and/or on our legitimate interests (Article 6 (1) (f) GDPR), since
          | we have a legitimate interest in the effective processing of requests addressed to us.
        p.card__text
          | The data sent by you to us via contact requests remain with us until you request us to delete, revoke your
          | consent to the storage or the purpose for the data storage lapses (e.g. after completion of your request).
          | Mandatory statutory provisions - in particular statutory retention periods - remain unaffected.

        h4.h4.card__heading Processing of data (customer and contract data)
        p.card__text
          | We collect, process and use personal data only to the extent necessary for the establishment, content
          | organization or change of the legal relationship (data inventory). These actions are taken on the basis of Art.
          | 6 Sect. 1 lit. b GDPR, which permits the processing of data for the fulfilment of a contract or pre-contractual
          | actions. We collect, process and use personal data concerning the use of this website (usage data) only to the
          | extent that this is necessary to make it possible for users to utilize the services and to bill for them.
        p.card__text
          | The collected customer data shall be eradicated upon completion of the order or the termination of the
          | business relationship. This shall be without prejudice to any statutory retention mandates.

        h4.h4.card__heading Data transfer upon closing of contracts for services and digital content
        p.card__text
          | We share personal data with third parties only if this is necessary in conjunction with the handling of the
          | contract; for instance, with the financial institution tasked with the processing of payments.
        p.card__text
          | Any further transfer of data shall not occur or shall only occur if you have expressly consented to the
          | transfer. Any sharing of your data with third parties in the absence of your express consent, for instance for
          | advertising purposes, shall not occur.
        p.card__text
          | The basis for the processing of data is Art. 6 Sect. 1 lit. b GDPR, which permits the processing of data for the
          | fulfilment of a contract or for pre-contractual actions.

        h3.h3.card__heading 5. Social media
        h4.h4.card__heading Twitter plug-in
        p.card__text
          | We have integrated functions of the social media platform Twitter into this website. These functions are
          | provided by Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. While you use
          | Twitter and the "Re-Tweet" function, websites you visit are linked to your Twitter account and disclosed to
          | other users. During this process, data are transferred to Twitter as well. We must point out, that we, the
          | providers of the website and its pages do not know anything about the content of the data transferred and
          | the use of this information by Twitter. For more details, please consult Twitter's Data Protection Declaration at:<br>
          | <a href="https://twitter.com/en/privacy" target="_blank" rel="noopener">https://twitter.com/en/privacy</a>.
        p.card__text
          | The use of Twitter plug-ins is based on Art. 6 Sect. 1 lit. f GDPR. The operator of the website has a legitimate
          | interest in being as visible as possible on social media.
        p.card__text
          | You have the option to reset your data protection settings on Twitter under the account settings at
          | <a href="https://twitter.com/account/settings" target="_blank" rel="noopener">https://twitter.com/account/settings</a>.

        h3.h3.card__heading 6. Analysis tools and advertising
        h4.h4.card__heading Matomo (formerly called Piwik)
        p.card__text
          | This website uses the open source web analysis service Matomo. Matomo uses so-called "cookies", which are
          | text files that are stored on your computer and that make it possible to analyse your use of this website. In
          | conjunction with this, the information about the use of this website generated by the cookie will be archived
          | on our server. Prior to archiving, the IP address will first be anonymized.
        p.card__text
          | Matomo cookies will remain on your device until you delete them.
        p.card__text
          | The storage of Matomo cookies and the use of this analysis tool are based on Art. 6 Sect. 1 lit. f GDPR. The
          | website operator has a legitimate interest in the analysis of user patterns, in order to optimize the operator's
          | web offerings and advertising. If a corresponding agreement has been requested (e.g. an agreement to the
          | storage of cookies), the processing takes place exclusively on the basis of Art. 6 para. 1 lit. a GDPR; the
          | agreement can be revoked at any time.
        p.card__text
          | The information generated by cookies concerning the use of this website shall not be shared with any third
          | parties. You may prevent the storage of cookies at any time by making pertinent changes to your browser
          | software settings; however, we have to point out that in this case you may not be able to use all of the
          | functions of this website to their fullest extent.
        p.card__text
          | If you do not consent to the storage and use of your data, you have the option to deactivate the storage and
          | use of such data here. In this case, an opt out cookie will be placed in our browser, which prevent the storage
          | of usage data by Matomo. If you delete your cookies, this will also result in the deletion of the Matomo opt
          | out cookie. Hence, you will have to reactivate the opt out when you return to visit this website.
        p.card__text [iframe]

        h3.h3.card__heading 7. Plug-ins and Tools
        h4.h4.card__heading YouTube with expanded data protection integration
        p.card__text
          | Our website embeds videos of the website YouTube. The website operator is Google Ireland Limited
          | ("Google"), Gordon House, Barrow Street, Dublin 4, Ireland.
        p.card__text
          | We use YouTube in the expanded data protection mode. According to YouTube, this mode ensures that
          | YouTube does not store any information about visitors to this website before they watch the video.
          | Nevertheless, this does not necessarily mean that the sharing of data with YouTube partners can be ruled
          | out as a result of the expanded data protection mode. For instance, regardless of whether you are watching a
          | video, YouTube will always establish a connection with the Google DoubleClick network.
        p.card__text
          | As soon as you start to play a YouTube video on this website, a connection to YouTube's servers will be
          | established. As a result, the YouTube server will be notified, which of our pages you have visited. If you are
          | logged into your YouTube account while you visit our site, you enable YouTube to directly allocate your
          | browsing patterns to your personal profile. You have the option to prevent this by logging out of your
          | YouTube account.
        p.card__text
          | Furthermore, after you have started to play a video, YouTube will be able to place various cookies on your
          | device. With the assistance of these cookies, YouTube will be able to obtain information about our website's
          | visitors. Among other things, this information will be used to generate video statistics with the aim of
          | improving the user friendliness of the site and to prevent attempts to commit fraud. These cookies will stay
          | on your device until you delete them.
        p.card__text
          | Under certain circumstances, additional data processing transactions may be triggered after you have
          | started to play a YouTube video, which are beyond our control.
        p.card__text
          | The use of YouTube is based on our interest in presenting our online content in an appealing manner.
          | Pursuant to Art. 6 Sect. 1 lit. f GDPR, this is a legitimate interest. If a corresponding agreement has been
          | requested (e.g. an agreement to the storage of cookies), the processing takes place exclusively on the basis of
          | Art. 6 para. 1 lit. a GDPR; the agreement can be revoked at any time.
        p.card__text
          | For more information on how YouTube handles user data, please consult the YouTube Data Privacy Policy under:<br>
          | <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=en</a>.

        h4.h4.card__heading Google Web Fonts (local embedding)
        p.card__text
          | This website uses so-called Web Fonts provided by Google to ensure the uniform use of fonts on this site.
          | These Google fonts are locally installed so that a connection to Google's servers will not be established in
          | conjunction with this application.

        p
          small Source: <a href="https://e-recht24.de" target="_blank" rel="noopener">e-recht24.de</a> (edited and supplemented)
