.card
  width: 60%
  padding: $spacer * 2
  align-self: flex-end
  background-color: $white
  color: $black
  border-radius: $spacer / 4
  box-shadow: $shadow--elevated

.card__btn
  margin-top: $spacer * 2
