.wrapper
  display: flex
  min-height: 100%
  flex-direction: column

.container
  display: flex
  max-width: $site-width
  width: 100%
  margin: 0 auto
  flex-direction: column

.h1, .h2
  font-weight: $main-font--light
  text-shadow: $text-shadow

.h1
  font-size: 4.8rem
  letter-spacing: -1.5px

.h2
  font-size: 3rem
  letter-spacing: -0.5px
